# Copyright (c) 2025 TQ-Systems GmbH <license@tq-group.com>, D-82229 Seefeld, Germany.
# Author: Isaac L. L. Yuki
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_TQMBA117XL
	select BOARD_LATE_INIT_HOOK
	select SOC_LATE_INIT_HOOK
	select PINCTRL
