# Copyright (c) 2025 TQ-Systems GmbH <license@tq-group.com>, D-82229 Seefeld, Germany.
# Author: Isaac L. L. Yuki
#
# SPDX-License-Identifier: Apache-2.0
#

config SHIELD_TQMBA117XL_TM070
	def_bool $(shields_list_contains,tqmba117xl_tm070)
